<container>
  <row class="footer">
    <columns>
      <row class="enabled_by">
        <columns>
          <row>
            <columns>
              <center>
                <img
                  src="https://i.imgur.com/6ZqxPbt.png"
                  class="adobe_campaign"
                />
              </center>
            </columns>
          </row>
        </columns>
      </row>

      <row class="privacy">
        <columns>
          <p>
            *Offer starts on August 19th, 2019 and expires on August 23rd, 2019.
            Offer available to first-time subscribers. Purchase an Adobe
            Creative Cloud All Apps membership for $359.88/year ($29.99/month,
            plus applicable taxes) from the Adobe Store or by calling a regional
            Adobe Call Center. Regular price for Creative Cloud All Apps is
            $635.88/year ($52.99/month). Limit: one per customer. A 12 month
            commitment, and at the end of your offer term, your membership will
            be automatically billed at the standard rate, unless you elect to
            change or cancel your membership. Offer not available to education,
            OEM or volume licensing customers.
          </p>
          <p>
            General Terms: Valid only for eligible persons who are 18 or older.
            Residents or persons in embargoed countries or countries subject to
            U.S. or local export restrictions are not eligible. Offer and prices
            subject to change without notice due to unforeseen circumstances.
            Offer may not be assigned, exchanged, sold, transferred, combined,
            or redeemed for cash or other goods and services not expressly
            stated here as included. Subject to availability where the recipient
            resides. Additional terms and conditions may apply. VOID WHERE
            PROHIBITED OR RESTRICTED BY LAW.
          </p>
          <p>
            Adobe services, like Adobe Creative Cloud, are available only to
            users 13 and older. Use of Adobe services and applications requires
            agreement with the applicable
            <a href="#"><span>Terms of Use</span></a> and the
            <a href="#"><span>Adobe Privacy Policy</span></a
            >.
          </p>
          <p>
            Adobe, the Adobe logo, Creative Cloud, and the Creative Cloud logo
            are either registered trademarks or trademarks of Adobe in the
            United States and/or other countries. All other trademarks are the
            property of their respective owners.
          </p>
          <p>
            This is a marketing email from Adobe Inc, 345 Park Avenue, San Jose,
            CA 95110 USA. <a href="#"><span>Click here</span></a> to
            unsubscribe. Please review the
            <a href="#"><span>Adobe Privacy Policy.</span></a>
          </p>
          <p class="email">
            To ensure email delivery, add
            <a href="#"><span>mail@mail.adobe.com</span></a> to your address
            book, contacts, or safe sender list.
          </p>
        </columns>
      </row>
    </columns>
  </row>
</container>
